$body_color:red;
$headerBodyColor:#5f9ea0;
$c:#ffffff;
$jetStream : #BBD2C5;
$darkElectricBlue :#536976;



$star-blue: #5C5CBC;
$dark-gunmetal: #2E2E24;
$lavender: #E9E9F6;
$royal-orange: #EB9E47;
$royal-orange-focus: #f18c18;
$cultered: #F5F5FA;


$b :#64748b