@tailwind base;
@tailwind components;
@tailwind utilities;


.article-design {}


.article-design ul {

    list-style-type: disc;
    margin: 0 0 20px 40px;
}

.article-design ol {
    list-style-type: decimal;
    margin: 0 0 20px 40px;
}

.article-design a {
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
}